.feature-section {
  margin-top: 3rem;
  padding: 1rem 1rem;
  background-color: var(--color-primary);
  border-left: 5px solid var(--color-border);
  border-radius: 15px;
}

.feature-section.container-clone-auction {
  padding: 3rem 1rem;
  background-color: var(--color-primary);
}
/*  Titulo de cada card */
.feature-section__container-subtitle {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.feature-section__container-subtitle h2 {
  color: var(--color-white);
  font-weight: bold;
}

.feature-section__container-subtitle span,
.feature-section__container-subtitle h2 {
  font-size: 2rem;
}
