@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Colores de Estado */
  --color-error: #bb2929;
  --color-success: #1ed12d;
  --color-info: #0791e6;
  --color-alert: #ffcf00;

  /* Colores de fondo */
  --color-background: #ededed;
  --color-background-dark: #16151d;
  /* Colores de texto */
  --color-black: #16151d;
  --color-white: #ffffff;
  /* Colores de border */
  --color-border: rgb(187,255,0);
  --color-border-dark: rgb(123,255,0);

  --color-sale: rgb(90, 220, 190);
  --color-sale-dark: rgb(0, 255, 255);

  /* Colores MAIN */
  --color-primary: rgb(0,116,44);
  --color-primary-light: rgb(0,142,54);
  --color-primary-dark: rgb(0, 91, 34);

  --color-secondary: rgb(239, 68, 68);
  --color-secondary-light: rgb(243,115,115);
  --color-secondary-dark: rgb(235,21,21);

  --color-navbar: #ffffff;
  --color-navbar-dark: #16151d;

  --color-section: #ffffff;

  /* Variables de Sombras */
  --bg-transparent: rgba(0, 0, 0, 0.6);
  --bg-transparent-light: rgba(0, 0, 0, 0.4);
  --bg-transparent-dark: rgba(0, 0, 0, 0.8);

  --shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  --shadow-dark: 0 3px 5px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.5);

  /* Variables de Transiciones */
  --transition-fast: all 0.3s ease;
  --transition-medium: all 0.5s ease;
  --transition-slow: all 0.7s ease;

  /* Variables de Z-Index */
  --z-index-tooltip: 1000; /* Para tooltips */
  --z-index-modal: 2000; /* Para modales */
  --z-index-overlay: 3000; /* Para overlays */
  --z-index-dropdown: 4000; /* Para dropdowns */

  /* Variables para Botones */
  --button-primary-bg: var(--color-primary);
  --button-primary-bg-hover: var(--color-primary-dark);
  --button-secondary-bg: var(--color-secondary);
  --button-secondary-bg-hover: var(--color-secondary-dark);

  --button-border-radius: 25px;
  --button-padding: var(--space-sm) var(--space-md);
  /* Filtros */
  --button-bg: var(--color-primary);
  --button-bg-selected: var(--color-background-dark);

  --button-tc: var(--color-black);
  --button-tc-selected: var(--color-white);

  --color-description: #9ca3af;
  --color-bg-card: #f9f9f9;

  --color-gold: rgb(255, 185, 0);
  --color-gold-dark: rgb(184, 134, 11);

}

* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .card {
    width: 139px;
    height: 238px;
    background: rgba(255, 255, 255, .53);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .cardImg{
    width: 125px;
    height: 216px;
    background: #000000;
    border-top: 6px solid rgb(255, 255, 255);
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  } 
  .cardImg__element{
    width: 111px;
    height: 50px;
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cardImg__element--imagen{
    height: 270px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
    clip-path: polygon(0 31%, 0 0, 100% 0, 100% 81%, 85% 100%, 0 100%, 0 79%, 7% 69%, 7% 53%, 0 45%);
    position: relative;

  }

  .cardImg__element--imagen img,
  .cardImg__details--flags img{
    width: 100%;
    height: 100%;
    background: transparent;
  }

  .cardImg__details{
    width: 23px;
    height: 23px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 6px;
    font-weight: 900;
    margin-top: 10px;
  }

  .cardImg__details--name{
    width: 87px;
    padding-top: 5px;
    /* background: red; */
  }
  .cardImg__details--flags{
    width: 30px;
    height: 20px;
    background: rgb(40, 199, 100);
  }
  .cardImg__details--flags:hover{
    background: rgb(0, 150, 60);
  }
  
 .cardImg__details--flags svg{
  width: 20px;
  height: inherit;
  background: transparent;
 }

  .cardImg__name{
    width: 87px;
    height: 23px;
    background: transparent;
    text-align: start;
  }
 .imagen__name{
    width: 87px;
    height: 23px;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 5px;
    font-size: 7px;
    margin-left: 10px;
    font-weight: 900;
 }
 .imagen__name--last{
  top: 15px;
 }
 .imagen__name--lastRight{
  width: auto;
  height: auto;
  top: 50px;
  left: 80px;
  transform: rotate(-90deg);
 }
